<html>
<head>

    <link rel="stylesheet" type="text/css" href="css log.css" media="screen" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        .partlog {
background-color: rgb(12, 214, 53);
text-align: left;
}

        #nd {
width: 500px;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Munu de Acesso</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="file:///C:/Users/Ezequiel%20Carlos/Desktop/2AII/Programa%C3%A7%C3%A3o%20de%20sistema%20para%20web/p1/Site/pagina%20inicial/pagina%20inicial.html">Pagina Inicial <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="file:///C:/Users/Ezequiel%20Carlos/Desktop/2AII/Programa%C3%A7%C3%A3o%20de%20sistema%20para%20web/p1/Site/Login/login.html">Login</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="partlog">
        <table border="1">
            <td>
                <h6>
                    Quando falamos no vício das drogas qualquer sentimento positivo é bem-vindo, pois a pessoa que está adoentada é um dos seres humanos que mais precisam deste
                    apoio para lidar de frente com seu problema e superar sua dependência. Contudo, existem muitas barreiras em sua jornada e, uma delas é o ambiente onde vive o
                    dependente. Digo isso porque a sua doença acaba afetando negativamente sua família, que nem sempre sabe ao certo como lidar com a questão ou usa as melhores
                    palavras e atitudes para com a pessoa.
                    Isso é perfeitamente compreensível, pois ninguém nasce sabendo como lidar com esta situação ou exatamente como ajudar. Às vezes, os familiares acham que dando
                    bronca ou limitando o acesso ao dinheiro, vão conscientizar o dependente a querer parar com o vício, o que pode ser um grande engano.
                    Além disso, cada membro do núcleo familiar vê e trata de forma diferente o problema de seu parente, que pode ser um filho, irmão ou irmã, pai, mãe, primo,
                    neto… Muitas vezes isso causa muitas brigas, muitos conflitos familiares que acabam criando um abismo entre as pessoas e impedindo que aqueles que estão “sãos”
                    possam ajudar seu parente a se libertar das drogas.
                    Deste modo, as palavras de incentivos são constantemente substituídas por xingamentos, troca de acusações e nos casos mais severos, até mesmo por violência
                    física. Porém, isso é o que de pior acontecer, pois só afasta mais a pessoa de sua família e a aproxima ainda mais do submundo dos entorpecentes.
                    Se você deseja seguir por outro caminho e ajudar de alguma forma seu familiar a entender seu problema e, mais ainda que precisa buscar ajuda, é importante saber
                    dizer as palavras certas e oferecer o incentivo que este indivíduo precisa para iniciar seu tratamento e se libertar da dependência.
                </h6>
            </td>
        </table>
    </div>
    <br />
    <img src="ndrogas.jpg" class="rounded float-left" id="nd" />
    <div>
        <table border="1" class="partlog">
            <tr>
            <tr>
                <td> Responsavel</td>
            </tr>

            <td>
             <div class="form-group">
    <label for="exampleInputEmail1">Nome</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira o seu nome">
            </div>
             <div class="form-group">
                 <label for="exampleInputEmail1">Sobre Nome</label>
                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira o seu sobre nome">
             </div>
             <div class="form-group">
                 <label for="exampleInputEmail1">Idade</label>
                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira a sua idade">
             </div>
             <div class="form-group">
                 <label for="exampleInputEmail1">E-mail</label>
                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira o seu email">
             </div>
             <div class="form-group">
                 <label for="exampleInputEmail1">Senha</label>
                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira a sua senha">
             </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="exampleInputEmail1">CPF</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira o seu CPF">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">RG</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira o seu RG">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Telefone</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira o seu telefone">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Estado Civil</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Estado civil">
                </div>
                <label class="form-check-label" for="exampleCheck1">Cadastrar apenas a mim</label>
                <br/>
                <button type="submit" class="btn btn-primary">cadastrar</button>
            </td>
            </tr>

            <tr>
            <tr>

                <td> Dependente Quimico</td>
            </tr>

            <td>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome do ajudado">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Sobre Nome</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Sobre nome do ajudado">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Idade</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Idade do ajudado">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">E-mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="(caso haja)">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Senha</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="(caso haja)">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="exampleInputEmail1">CPF</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="CPF do ajudado">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">RG</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="RG do ajudado">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Telefone</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Caso possua um">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Estado Civil</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Estado civil do ajudado">
                </div>
                <button type="submit" class="btn btn-primary">cadastrar</button>
            </td>
            </tr>
        </table>
    </div>
</body>
</html>